[Unit]
Description=Early cleanup, remove dangling symlinks
After=local-fs.target
Before=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/usr/share/dea
ExecStart=/usr/share/dea/dea-early-init.sh
Restart=no

[Install]
WantedBy=multi-user.target
