[Unit]
Description=Generate config from tags
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/share/dea
ExecStart=/usr/share/dea/dea-init.sh
Restart=no

[Install]
WantedBy=multi-user.target