[Unit]
Description=Configure nginx to proxy to jupyterhub
Requisite=nginx.service

[Service]
Type=simple
User=root
EnvironmentFile=-/etc/jupyterhub/jupyterhub.conf
EnvironmentFile=/etc/environment
ExecStart=/usr/share/dea/proxy-setup.sh
Restart=no

[Install]
WantedBy=multi-user.target