Package: dea-devbox
Version: {{version}}
Section: base
Priority: optional
Architecture: all
Depends:
Maintainer: Kirill Kouzoubov <kirill.kouzoubov@ga.gov.au>
Description: Jupyterhub setup for dea devboxes
 Deals with SSL and jupyterhub launching
